<html>
    <body>
        <form method="post">
            name: <input type="text" name="txt1">
            gender: <input type="text" name="txt2">
            mobile: <input type="text" name="txt3">
            <input type="submit">
        </form>
    </body>
</html>